name: CI

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    
    - name: install dependencies
      uses: steebchen/flutter@v1.0.0
      with:
        args: pub get
    
    - name: build apk
      uses: steebchen/flutter@v1.0.0
      with:
        args: build apk --release
